#!/bin/bash


HERE=$(pwd)
VENV=${HERE}/.env/bin/activate
EXTRA=${HERE}/.envrc-extra

if [[ -f ${VENV} ]]; then
    . ${VENV}
fi

if [[ -f ${EXTRA} ]]; then
    . ${EXTRA}
fi

_PPATH="${PYTHONPATH}"
if [[ "${_PPATH}" == "" ]]; then
    _PPATH="${HERE}"
else
    _PPATH="${HERE}:${_PPATH}"
fi
export PYTHONPATH="${_PPATH}"

